*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
}
header{
    width: 100%;
    height: 8vh;
    background-color: rgb(244, 246, 248);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0%;
    top: 0%;
    z-index: 9;
}
header div{
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    margin: 1%;
    width: 36%;
}
header a{
    text-decoration: none;
    color: rgb(94, 94, 94);
    margin:0% 5% 0% 5%;
}
header button{
    background-color: rgb(0, 100, 214);
    width: 11%;
    border: 10px solid  rgb(0, 100, 214);
    color: white;
    font-size: 100%;
}
header button:hover{
    cursor:pointer;
}
main{
    overflow: auto;
    width: 100%;
    height: 100vh;
    padding-top: 0%;
    padding-bottom: 0%;
}
#section1{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-wrap: nowrap;
    background-color: brown;
    height: 75vh;
    position: relative;

}
#section1 h1{
    font-size: 330%;

}
#section1 div{
    width: 42%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: column;
    margin:0% 3% 0% 3%;
}
#section1 p{
    margin: 2%;

}
#image{
    width: 56%;
    position: absolute;
    right: 1%;
    bottom: -12%;
    z-index: 8;

}
#section1 button{
    width: 33%;
    font-size: 100%;
    background-color: rgb(0, 100, 214);
    border: 10px solid  rgb(0, 100, 214);
    color: white;
}
#section1 button:hover{
    cursor: pointer;
}
#section1 span{
    margin-top: 1%;
    margin-bottom: 1%;
}
#frecciagiu{
    font-size: 300%;
    margin-top: 4%;}
    
#section2{
        height: 30vh;
        background-color: rgb(170, 238, 10);
    }

#section2 h2{
    padding: 7% 0% 0% 27%;
    font-size: 250%;
    margin-bottom: 4%;
    
}
#mensile{
    margin-left: 27%;
    width: 1%;
}
#annuale{
    margin-left: 4%;
    width: 1%;
    
}
#section3{
    background-color: aqua;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.colonna{
    background-color: white;
    border: 1px solid black;
    width:16%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
#section3 span{
    margin-left: 3%;
    margin-right: 3%;
}
#section3 button{
    background-color: rgb(0, 100, 214);
    width: 78%;
    border: 10px solid  rgb(0, 100, 214);
    color: white;
    font-size: 100%;
}
#section3 button:hover{
    cursor:pointer;
}
.tableline{
    width: 25%;
    color: rgb(163, 163, 163);
    position: absolute;
    bottom: 0%;
    left: 0%;
}
.listacolonna{
    list-style-type: none;
}
li i{
    color: rgb(58, 193, 255);
}
