*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
}
header{
    width: 100%;
    height: 8vh;
    background-color: rgb(103, 140, 172);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0%;
    top: 0%;
    z-index: 9;
}
header div{
    display: flex;
    justify-content: space-around;
    align-items:center;
    margin: 1%;
    width: 40%;
}
header a{
    text-decoration: none;
    color: rgb(94, 94, 94);
    margin:0% 5% 0% 5%;
}
header button{
    background-color: rgb(0, 100, 214);
    width: 11%;
    border-color: rgb(0, 100, 214);
    color: white;
    font-size: 100%;
}
header button:hover{
    cursor:pointer;
}
main{
    overflow: auto;
    width: 100%;
    height: 100vh;
    padding-top: 0%;
    padding-bottom: 0%;
}
section{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-wrap: nowrap;
    background-color: brown;
    height: 75vh;
    position: relative;

}
section h1{
    font-size: 330%;

}
section div{
    width: 42%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: column;
    margin:0% 3% 0% 3%;
}
section p{
    margin: 2%;

}
#image{
    width: 56%;
    position: absolute;
    right: 1%;
    bottom: -12%;

}
section button{
    width: 30%;
    padding: 1%;
    font-size: 100%;
    background-color: rgb(0, 100, 214);
    border-color:  rgb(0, 100, 214);
    color: white;
}
section button:hover{
    cursor: pointer;
}
section span{
    margin-top: 1%;
    margin-bottom: 1%;
}
#frecciagiu{
    font-size: 300%;
    margin-top: 4%;}
#section2{
    background-color: rgb(36, 10, 59);
    height: 100vh;
}